/*@import 'normalize.css';*/
@import 'bootstrap-rtl.css';

@font-face {
    font-family: "JF Flat Regular";
    src: url('/fonts/JF-Flat-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
  font-family: "JF Flat Regular", sans-serif !important;
}

body {
  font-family: "JF Flat Regular", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "JF Flat Regular", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-weight: 900 !important;
  line-height: 1.1;
}

h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small,
.h1 small,
.h2 small,
.h3 small,
.h4 small,
.h5 small,
.h6 small {
  font-weight: normal;
  line-height: 1;
  color: #999999;
}

.form-control {
  height: 35px;
}

.active-port a svg {
  background: #f5f5f5;
  padding: 3px;
  border-radius: 8px;
  fill: #202020;
}

.active-port a svg:hover {
  background: white;
  animation: portal-icon-background 600ms;
  animation-fill-mode: forwards;
}

.active-port a {
       color: #202020;
       outline: 0;
       text-decoration: none;
   }

.inactive-port svg {
  fill: #9C9C9C;
  cursor: not-allowed;
}

@keyframes portal-icon-background {
    0% {
        background: #f5f5f5;
        fill: #202020;
    }

    100% {
        background: #202020;
        fill: #fff;
    }
}

@keyframes portal-icon-a {
    0% {
        background: #999;
    }

    100% {
        background: #222;
    }
}

.vertical-center {
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
}
